/*Grilla */

.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 78px;
  overflow: hidden;
  margin-bottom: 100px;
}
.grid {
  background-color: #eedad1;
  color: #383e56;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  margin: 15px 0px 25px 0px;
  overflow: hidden;
}
.grid h3 {
  color: #383e56;
  text-decoration: underline;
  cursor: pointer;
}
.grid h3:hover {
  background: #383e56;
  color: #eedad1;
}