/* generales */
* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  color: #eedad1;
}
h1,
h2,
h3 {
  color: #383e56;
}
/* generales */

#nava-bar {
  background-color: #383e56;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .nava-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #btn-nava {
  text-decoration: underline;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 10px 50px 0 50px;
  color: #383e56;
}
body .btn-nava a:hover {
  background: white;
  color: black;
}
.container-inicio {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  padding-top: 20px;
}
.text-inicio {
  width: 68%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px;
  background-color: #eedad1;
}
.text-inicio h1 {
  color: #383e56;
  text-decoration: underline;
}
.text-inicio p {
  font-size: 16px;
  color: #383e56;
}
.bkg-img {
  width: 100%;
  height: 100%;
}
.ordered-list {
  border: solid 5px black;
  width: 100%;
  color: #eedad1;
  list-style-type: square;
  background-color: #383e56;
  font-size: 16px;
}
#comparison-table {
  display: flex;
  justify-content: center;
  background-color: #383e56;
  color: #eedad1;
}
#maps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 2px yellow;
}

/*Grilla */
.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 78px;
  overflow: hidden;
  margin-bottom: 100px;
}
.grid {
  background-color: #eedad1;
  color: #383e56;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  margin: 15px 0px 25px 0px;
  overflow: hidden;
}
.grid h3 {
  color: #383e56;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}
.grid h3:hover {
  background: #383e56;
  color: #eedad1;
}
/*Grilla */

.btn-consulta:hover {
  background: #383e56;
  color: #eedad1;
}
.btn-consulta {
  background-color: #eedad1;
  color: #383e56;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.btn-consulta :hover {
}
.postventa-body {
  background-color: #383e56;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros-body {
  background-color: #eedad1;
}
.contact-body {
  background-color: #eedad1;
}
.contact-body h2 {
  color: #383e56;
}
.nosotros-body h1,
h2,
h3 {
  text-align: center;
  color: #383e56;
}
.postventa-body h1,
h2,
h3 {
  text-align: center;
  color: #eedad1;
}
.vid_service {
  width: 100%;
}
.vid-youtube {
  width: 100%;
}
/* Footer */
.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eedad1;
  color: #383e56;
  overflow: hidden;
}
.footer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  text-decoration: underline;
  overflow: hidden;
  width: 50%;
}
.footer-4 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 50%;
}
/* Footer */

@media only screen and (max-width: 525px) {
  .nava-bar {
    display: flex;
    flex-direction: column;
  }
  .btn-nava li {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    border: solid 2px #eedad1;
  }
  .container-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .text-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -20px;
  }
  .ordered-list {
    border: solid 2px green;
    width: 100%;
    margin-top: -30px;
  }
  .grid {
    text-align: center;
    margin-top: 20px;
    grid-gap: 25px;
    border: solid 2px red;
    width: 100%;
  }
  .comparison-table {
    margin-top: 20px;
  }
  .postventa-body {
    margin-top: 20px;
  }
  .footer-2 {
    margin-top: 20px;
  }
}
