* {
  box-sizing: border-box;
}
.nav-bar {
  background-color: teal;
  display: flex;
  align-content: space-between;
  height: 50px;
  border: solid 2px salmon;
}

.nav-icon {
  display: flex;
}
.btn-nav {
  border: solid 2px blue;
  display: flex;
}
.container-inicio {
  width: 100%;
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}
.text-inicio {
  border: solid 2px cyan;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  background-color: teal;
}
.ordered-list {
  border: solid 2px red;
  display: flex;
}
.comparison-table {
  border: solid 2px seagreen;
}
.vid_service {
  width: 100%;
}
.vid-youtube {
  width: 100%;
}
